
FIT Fuze/FIT Fuze.xcworkspace/xcuserdata/iChernov.xcuserdatad/UserInterfaceState.xcuserstate
FIT Fuze/Pods/Pods.xcodeproj/project.pbxproj
FIT Fuze/Pods/Pods.xcodeproj/xcuserdata/iChernov.xcuserdatad/xcschemes/xcschememanagement.plist
